.FontFormatter {
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
    padding: 0.5em;
    text-align: center;
}

.FontFormatter .select-dropdown {
    font-size: 0.9em;
    width: 5.5em;
}