.FontFormatter {
    display: inline-block;
    font-size: 0.8em;
    padding: 0.5em;
    width: auto;
    text-align: center;
}

.FontFormatter .select-dropdown {
    font-size: 0.9em;
    width: 5.5em;
}