/**
 * placeholder-loading v0.5.0
 * Author: Zalog (https://www.zalog.ro/)
 **/

.SlateLoadingAnimation {
  direction: ltr;
  background-color: #ced4da;
  height: 100%;
}

.SlateLoadingAnimation::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 50%;
  z-index: 1;
  width: 500%;
  margin-left: -250%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 46%, rgba(255, 255, 255, 0.35) 50%, rgba(255, 255, 255, 0) 54%) 50% 50%;
  -webkit-animation: phAnimation 0.8s linear infinite;
          animation: phAnimation 0.8s linear infinite;
  content: " ";
  pointer-events: none;
}
.SlateLoadingAnimation > * {
  display: flex;
  flex: 1 1 auto;
  flex-flow: column;
  margin-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
}


@-webkit-keyframes phAnimation {
  0% {
    transform: translate3d(-30%, 0, 0);
  }
  100% {
    transform: translate3d(30%, 0, 0);
  }
}

@keyframes phAnimation {
  0% {
    transform: translate3d(-30%, 0, 0);
  }
  100% {
    transform: translate3d(30%, 0, 0);
  }
}

